//------Colors------
$primary_color : #55328b;
$secondary_color : #f3eef4;
$light_gray_color : #f1f9fb;
$accent_color : #000;

//Feedback colors : success warning error

@mixin link_style{
    //Style
    color: $primary_color;
    text-decoration: none;
}

@mixin dark_button_style{
    //Spacing and dimensions
    height: 47px;
}