//------Colors------
$primary_color : #55328b;
$secondary_color : #f3eef4;
$light_gray_color : #f1f9fb;
$accent_color : #000;

//------Fonts------
$primary_font : 'work-sans', serif;



//Feedback colors : success warning error

@mixin title_style{
    color: $primary_color;
    font-weight: bold;
}

@mixin subtitle_style {
    //Style
    color: #676371;
    text-transform: uppercase;
    font-size: .8rem;
}

@mixin link_style{
    //Style
    color: $primary_color;
    text-decoration: none;
}

@mixin light_link_button{
    //Style
    color: $primary_color;
    background-color: #ffffff;
    border-radius: 6px;
    text-decoration: none;
    //Spacing and Dimensions
    padding: 12px 24px;
    //Hover Effect Settings
    transition: .3s linear;
}

@mixin dark_link_button{
    //Style
    color: #ffffff;
    background-color: $primary_color;
    border-radius: 6px;
    text-decoration: none;
    //Spacing and Dimensions
    padding: 12px 24px;
    //Hover Effect Settings
    transition: .3s linear;
}